<ion-view>
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enable" ng-change="toggleDataSend()">
        Enable Data Send
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
