<ion-view >
  <ion-content class="padding">
    <div class="list">
	  <div class="item item-divider">
	    Device Information
	  </div>
	  <a class="item" href="#" ng-repeat="(key, value) in data.device">
	    {{key}}
	    <span class="item-note">
	      {{value}}
	    </span>
	  </a>

  	  <div class="item item-divider">
	    Additional Information
	  </div>
	  <a class="item" href="#">
	    Referrer
	    <span class="item-note">
	      {{data.referrer}}
	    </span>
	  </a>
	  <a class="item" href="#">
	    Last Updated
	    <span class="item-note">
	      {{data.updated}}
	    </span>
	  </a>
	</div>
    <button class="button button-positive button-block" ng-click="updateData()">
      Update Data
    </button>
    <button class="button button-balanced button-block" ng-click="sendData()" ng-if="sendAbility">
      Send Data
    </button>
  </ion-content>
</ion-view>
